# Dependencies
node_modules/
*/node_modules/

# Env
.env
*/.env
.env.local
.env.production

# Build output
dist/
build/
*/dist/
*/build/

# Prisma
backend/prisma/migrations/dev.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel
